body {
  background-color: #f2f2f2;
  font-family: sans-serif;
}

.reimb {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 730px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
}

.header {
  display: flex;
  padding: 24px 48px;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 48px;
}

.header-right div {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-right span {
  font-size: 12px;
  color: #858bb2;
}

.header-left p {
  font-size: 15px;
  font-weight: bold;
}

.header-right {
  display: flex;
  gap: 48px;
}

#approve {
  background-color: #7c5dfa;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  height: 48px;
  padding: 0 24px;
  border-radius: 24px;
  cursor: pointer;
}

#deny {
  background-color: #ec5757;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  height: 48px;
  padding: 0 24px;
  border-radius: 24px;
  cursor: pointer;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 40px;
  background-color: rgba(255, 143, 0, 5%);
  color: rgb(255, 143, 0);
  border-radius: 6px;
}

.body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 48px;
  padding: 0 48px;
  padding-bottom: 16px;
}

.dates {
  display: flex;
  width: 65%;
  gap: 24px;
  border-right: 3px solid #f9fafe;
}

.submitted span {
  font-size: 12px;
  color: #7e88c3;
}
.submitted p {
  font-size: 15px;
  font-weight: bold;
}

.resolved span {
  font-size: 12px;
  color: #7e88c3;
}
.resolved p {
  font-size: 15px;
  font-weight: bold;
}

.info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reimb-id span {
  display: inline;
  font-size: 12px;
  color: #7e88c3;
}
.reimb-id p {
  font-size: 15px;
  font-weight: bold;
}

.description span {
  font-size: 12px;
  color: #7e88c3;
}
.description p {
  font-size: 15px;
  font-weight: bold;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 48px;
  background-color: #373b53;
  color: white;
  border-radius: 0 0 8px 8px;
}

.footer p {
  font-size: 12px;
}
.footer h2 {
  font-size: 24px;
  font-weight: bold;
}
